// Naming - https://getbem.com/naming/ / https://gist.github.com/Marshall-Bits/f0d2a8889a4e137aeb0b100d10f817dc

// VARIABLES
// Fonts
$font-family: Verdana, sans-serif;
$base-font-size: 16px;
// Colors
$background-color: #cccccc;
$white-color: #ffffff;
$text-color: #222222;
$icon-color: #cccccc;
$border-light-color: #ABABAB;
$border-active-color: #222222;

// Map for breakpoints
$breakpoints: (
	"small": (
		"(min-width: 568px)",
	),
	"medium": (
		"(min-width: 768px)",
	),
	"large": (
		"(min-width: 992px)",
	),
);

// Responsive mixin
@mixin responsive($size) {
	$query: map-get($breakpoints, $size);

	@media #{$query} {
		@content;
	}
}

// Paddings and margins
$nudge: $base-font-size / 2;

// RESETTING AND SETTING BASE STYLES
// Resetting advanced - ideas from here https://www.joshwcomeau.com/css/custom-css-reset/
// box-sizing
*,
*::before,
*::after {
	box-sizing: border-box;
}
//Remove default margin
* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: $base-font-size *1;
	@include responsive("large") {
		font-size: $base-font-size *1.2;
	}
}

body {
	font-family: $font-family;

	// Add accessible line-height
	line-height: 1.4;
	// Improve text rendering
	-webkit-font-smoothing: antialiased;
	
}
// Improve media defaults
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
//Inherit fonts for form controls
input,
button,
textarea,
select {
	font: inherit;
}
//Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
// Improve line wrapping
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

// Create a root stacking context
#root {
	isolation: isolate;
}

// Set default transition on button
button {
	transition: 300ms;
}
