@use "../base";

.btn {
	padding: 1rem;
	width: 100%;
	transition: 300ms;
	line-height: 1;
	background-color: base.$button-bg-color;
    cursor: pointer;
	&:hover,
	&:active,
	&:focus {
		background-color: base.$button-bg-active-color;
        
	}
    &:focus-visible {
        border-color: transparent;
        outline-color: base.$border-active-color;
    }
}
