@use "../base";
.detail-page {
	@include base.responsive("medium") {
	}
	&:hover,
	&:active,
	&:focus {
	}
	&__image {
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
		img {
			width: 100%;
			height: 100%;
			max-height: 15rem;
			object-fit: cover;
			@include base.responsive("medium") {
				max-height: 20rem;
			}
		}
	}
	&__category-icon {
		position: absolute;
		width: 0.5rem * 6;
		height: auto;
		top: 1rem;
		left: 1rem;
		padding: 0.6rem;
		background-color: base.$icon-color;
		border-radius: 50%;
		svg {
			width: 100%;
			height: auto;
		}
		@include base.responsive("large") {
		}
	}
	&__content {
		position: relative;
		width: 100%;
		padding: 0.5rem;
		@include base.responsive("small") {
			width: 80%;
			margin: 0 auto;
		}
		@include base.responsive("medium") {
			width: 70%;
			margin: 0 auto;
		}
		@include base.responsive("large") {
			width: 60%;
		}
	}
	&__title {
		margin-bottom: 1.5rem;
		h1 {
			font-size: 1.5rem;
			font-weight: 400;
		}
		@include base.responsive("medium") {
		}
	}
	&__address {
		font-size: 1rem;
		margin-bottom: 1rem;
		font-weight: 400;
		@include base.responsive("medium") {
		}
	}
    &__tag {
		display: inline-block;
		font-size: 0.9rem;
		line-height: 1.1;
		border-radius: 2rem;
		padding: 0.4rem 1.2rem 0.5rem;
		margin-bottom: 1.5rem;
		background-color: base.$white-color;
		&--barrio {
		}
	}
	&__google-button {
		margin-bottom: 1.5rem;
		@include base.responsive("medium") {
		}
	}
	&__intro-text {
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		@include base.responsive("medium") {
		}
	}
	&__body-text {
		font-size: 1rem;
		margin-bottom: 0.5rem;
		@include base.responsive("medium") {
		}
	}
	
	&__like-button {
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		top: 0.5rem;
		right: 0.5rem;
		padding: 0.15rem;
		border: none;
		background-color: transparent;
		color: base.$black-color;
		cursor: pointer;
		// &:hover,
		// &:active.tip-card,
		// &:focus {
		&:hover {
			color: #ff0000;
		}
		svg {
			width: 100%;
			height: auto;
		}
		&--liked {
			@extend .detail-page__like-button;
			color: #ff0000;
		}
	}
}
