@use "../base";

.form {
	padding-top: 3rem;
	h1 {
		font-size: 1.25rem;
		font-weight: 700;
	}
	&__section {
		display: block;
		margin-bottom: 2rem;
	}
	&__group {
		display: block;
		margin: 1rem 0;
		label {
			color: base.$grey-color;
			font-weight: 400;
			margin-bottom: 0.2rem;
			display: block;
		}
		input,
		input[type="email"],
		input[type="password"],
		input[type="current-password"],
		input[type="number"],
		input[type="text"],
		select {
			display: block;
			width: 100%;
			padding: 1rem;
			font-size: 1rem;
			line-height: 1;
			background-color: base.$white-color;
			background-clip: padding-box;
			border: 1px solid base.$border-light-color;
			height: calc(3.4rem + 2px);
			&:focus-visible {
				border-color: transparent;
				outline-color: base.$border-active-color;
				border-radius: 0;
			}
		}
		select {
			padding-right: 2rem;
		}
		[type="checkbox"] {
			float: left;
			margin-right: 0.5rem;
			margin-top: -0.1rem;
			width: 1.3rem;
			height: 1.3rem;
			border-radius: 0.2rem;
			vertical-align: top;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			border: 1px solid rgba(0, 0, 0, 0.25);
		}
		textarea {
			display: block;
			width: 100%;
			padding: 1rem;
			font-size: 1rem;
			&:focus-visible {
				border-color: transparent;
				outline-color: base.$border-active-color;
				border-radius: 0;
			}
		}
	}
	&__error-message {
		color: base.$error-color;
	}
	&__autocomplete-suggestions {
		margin-top: -1rem;
		z-index: 1;
		position: relative;
		ul {
			position: absolute;
			width: 100%;
			list-style: none;
			background: base.$white-color;
			border: 1px solid base.$border-light-color;
			border-top: none;
			box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
			overflow-y: scroll;
			max-height: 15.5rem;
			li {
				display: block;
				padding: 0.8rem;
				border-bottom: 0.5px solid base.$border-light-color;
				cursor: pointer;
			}
		}
	}
	&__image-preview {
		width: 100%;
		display: block;
		img {
			width: 100%;
			height: 30rem;
			object-fit: cover;
		}
	}
	&__file-buttons {
		display: flex;
		flex-basis: 0;
		justify-content: space-between;
		// justify-content: center;
	}
	&__file-button-label {
		align-self: flex-start;
		padding:1rem;
		//width: 100%;
		font-size: 1rem;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		color: base.$text-color !important;
		transition: 300ms;
		background-color: base.$button-bg-color;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2309AC0E' d='M3.616 20q-.691 0-1.153-.462T2 18.384V7.616q0-.691.463-1.153T3.616 6h2.957l1.85-2h5.193v1h-4.76L7.012 7H3.616q-.27 0-.443.173T3 7.616v10.769q0 .269.173.442t.443.173h14.769q.269 0 .442-.173t.173-.443v-8h1v8q0 .691-.463 1.153T18.385 20zM19 7V5h-2V4h2V2h1v2h2v1h-2v2zm-8 9.73q1.567 0 2.649-1.081T14.731 13t-1.082-2.649T11 9.269t-2.649 1.082T7.269 13t1.082 2.649T11 16.731m0-1q-1.165 0-1.948-.783T8.269 13t.783-1.948T11 10.269t1.948.783t.783 1.948t-.783 1.948t-1.948.783'/%3E%3C/svg%3E");
		padding-left: 3rem;
		background-size: 2rem auto;
		background-repeat: no-repeat;
		background-position: 0.5rem 0.5rem;
		border: 1px solid base.$button-border-color;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus {
			background-color: base.$button-bg-active-color;
		}
	}
	&__file-button-btn-delete {
		align-self: flex-start;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FF0000' d='M7.616 20q-.672 0-1.144-.472T6 18.385V6H5V5h4v-.77h6V5h4v1h-1v12.385q0 .69-.462 1.153T16.384 20zM17 6H7v12.385q0 .269.173.442t.443.173h8.769q.23 0 .423-.192t.192-.424zM9.808 17h1V8h-1zm3.384 0h1V8h-1zM7 6v13z'/%3E%3C/svg%3E");
		padding-left: 3rem !important;
		background-size: 2rem auto;
		background-repeat: no-repeat;
		background-position: 0.5rem 0.5rem;
	}
	&__file-input {
		&[type="file"] {
			display: none;
		}
	}
}
