@use "../base";

.form {
	padding-top: 3rem;
	h1 {
		font-size: 1.25rem;
		font-weight: 700;
	}
	&__section {
		display: block;
		margin-bottom: 2rem;
	}
	&__group {
		display: block;
		margin: 1rem 0;
		label {
			color: base.$grey-color;
			font-weight: 400;
			margin-bottom: 0.2rem;
			display: block;
		}
		input,
		input[type="email"],
		input[type="password"],
		input[type="current-password"],
		input[type="number"],
		input[type="text"],
		select {
			display: block;
			width: 100%;
			padding: 1rem;
			font-size: 1rem;
			line-height: 1;
			background-color: base.$white-color;
			background-clip: padding-box;
			border: 1px solid base.$border-light-color;
			height: calc(3.4rem + 2px);
			&:focus-visible {
				border-color: transparent;
				outline-color: base.$border-active-color;
				border-radius: 0;
			}
		}
		select {
			padding-right: 2rem;
		}
		[type="checkbox"] {
			float: left;
			margin-right: 0.5rem;
			margin-top: -0.1rem;
			width: 1.3rem;
			height: 1.3rem;
			border-radius: 0.2rem;
			vertical-align: top;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			border: 1px solid rgba(0, 0, 0, 0.25);
		}
		textarea {
			display: block;
			width: 100%;
			padding: 1rem;
			font-size: 1rem;
			&:focus-visible {
				border-color: transparent;
				outline-color: base.$border-active-color;
				border-radius: 0;
			}
		}
	}
	&__error-message {
		color: base.$error-color;
	}
	&__autocomplete-suggestions {
		margin-top: -1rem;
		z-index: 1;
		position: relative;
		ul {
			position: absolute;
			width: 100%;
			list-style: none;
			background: base.$white-color;
			border: 1px solid base.$border-light-color;
			border-top: none;
			box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
			overflow-y: scroll;
			max-height: 15.5rem;
			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	bottom: 0;
			// 	width: 100%;
			// 	height: 5rem;
			// 	background: linear-gradient(
			// 		rgba(255, 255, 255, 0.001),
			// 		white
			// 	);
			// }
			li {
				display: block;
				padding: 0.8rem;
				border-bottom: 0.5px solid base.$border-light-color;
				cursor: pointer;
			}
		}
	}
	// &__file-input::-webkit-file-upload-button {
	// 	visibility: hidden;
	//   }
	//   &__file-input::before {
	// 	content: 'Select some files';
	// 	display: inline-block;
	// 	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	// 	border: 1px solid #999;
	// 	border-radius: 3px;
	// 	padding: 5px 8px;
	// 	outline: none;
	// 	white-space: nowrap;
	// 	-webkit-user-select: none;
	// 	cursor: pointer;
	// 	text-shadow: 1px 1px #fff;
	// 	font-weight: 700;
	// 	font-size: 10pt;
	//   }
	//   &__file-input:hover::before {
	// 	border-color: black;
	//   }
	//   &__file-input:active::before {
	// 	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	//   }
	&__file-buttons {
		display: flex;
	}
	&__file-input {
		&[type="file"] {
			padding: 0;
			height: auto;
			background: transparent;
			border: none;
		}
	}
	&__file-input::file-selector-button {
		padding: 1rem;
		//width: 100%;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		color: base.$text-color;
		transition: 300ms;
		line-height: 1;
		background-color: base.$button-bg-color;
		border: 1px solid base.$button-border-color;
		cursor: pointer;
	}

	&__file-input::file-selector-button:hover {
		background-color: base.$white-color;
	}
}
