@use "../base";
.map {
	margin-bottom: 1.5rem;
	&__marker {
	}
	&__category-icon {
		svg {
			//fill: #fff !important;
			path {
				fill: #fff !important;
			}
		}
	}
	&__info-window {
		p {
			font-family: base.$font-family;
			font-size: 0.8rem;
			&.read-more {
				margin-top: 0.5rem;
				a {
					color: base.$text-color;
					text-decoration: underline;
				}
			}
		}
	}
	[role="dialog"] {
		h3 {
			font-family: base.$font-family;
			font-size: 0.8rem;
			font-weight: 700;
		}
	}
}

