@use "../base";
.tip-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0.5rem * 2;
}
.tip-card {
	display: flex;
	background-color: #ffffff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	&:hover,
	&:active.tip-card,
	&:focus {
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
	}
	&__image {
		width: 30%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			max-height: 10rem;
			object-fit: cover;
		}
	}
	&__category-icon {
		position: absolute;
		width: 0.5rem * 3;
		height: auto;
		top: 0.5rem;
		left: 0.5rem;
		padding: 0.25rem;
		background-color: base.$icon-color;
		border-radius: 50%;
		svg {
			width: 100%;
			height: auto;
		}
		@include base.responsive("large") {
		}
	}
	&__content {
		position: relative;
		width: 70%;
		padding: 0.5rem;
	}
	&__title {
		font-size: 0.8rem;
		font-weight: 700;
		@include base.responsive("medium") {
		}
	}
	&__intro-text {
		font-size: 0.8rem;
		@include base.responsive("medium") {
		}
	}
	&__tag {
		display: inline-block;
		font-size: 0.7rem;
		line-height: 1.1;
		border-radius: 2rem;
		padding: 0.2rem 0.6rem 0.25rem;
		background-color: base.$icon-color;
		&--barrio {
		}
	}
	&__like-button {
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		top: 0.5rem;
		right: 0.5rem;
		padding: 0.15rem;
		border: none;
		background-color: transparent;
		color: #cccccc;
		&:hover,
		&:active.tip-card,
		&:focus {
			color: #ff0000;
		}
		svg {
			width: 100%;
			height: auto;
		}
	}
}
