@use "../base";
.tip-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0.5rem * 2;
	@include base.responsive("medium") {
		grid-template-columns: repeat(3, 1fr);
	}
	@include base.responsive("large") {
		grid-template-columns: repeat(4, 1fr);
	}
}
.tip-card {
	display: flex;
	background-color: #ffffff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	@include base.responsive("medium") {
		flex-direction: column;
	}
	&:hover,
	&:active.tip-card,
	&:focus {
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
	}
	&__image {
		width: 30%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			max-height: 10rem;
			object-fit: cover;
		}
		@include base.responsive("medium") {
			width: 100%;
		}
	}
	&__image-placeholder {
		@extend .tip-card__image;
		img {
			object-fit: scale-down;

			@include base.responsive("medium") {
				border-bottom: 0.1rem solid base.$border-light-color;
			}
		}
	}
	&__category-icon {
		position: absolute;
		width: 0.5rem * 3;
		height: auto;
		top: 0.5rem;
		left: 0.5rem;
		padding: 0.25rem;
		background-color: base.$icon-color;
		border-radius: 50%;
		svg {
			width: 100%;
			height: auto;
		}
		@include base.responsive("large") {
		}
	}
	&__content {
		position: relative;
		display: flex;
		width: 70%;
		padding: 0.5rem;
		height: 100%;
		@include base.responsive("medium") {
			width: 100%;
			//padding-right: 3rem;
		}
	}
	&__content-layout {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		align-content: space-between;
	}
	&__content-layout-top {
		width: 100%;
		flex: 1;
		//justify-self: flex-end;
	}
	&__content-layout-bottom {
		width: 100%;
		//justify-self: flex-end;
	}
	&__title {
		font-size: 0.8rem;
		font-weight: 700;
		@include base.responsive("medium") {
		}
	}
	&__intro-text {
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
		@include base.responsive("medium") {
		}
	}
	&__tag {
		display: inline-block;
		font-size: 0.7rem;
		line-height: 1.1;
		border-radius: 2rem;
		padding: 0.2rem 0.6rem 0.25rem;
		margin-bottom: 0.5rem;
		background-color: base.$icon-color;
		&--barrio {
		}
	}
	&__buttons {
		.btn__small--white {
			width: auto;
			@include base.responsive("medium") {
				width: 100%;
			}
		}
	}
	&__like-button {
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		top: 0.5rem;
		right: 0.5rem;
		padding: 0.15rem;
		border: none;
		background-color: transparent;
		color: #cccccc;
		cursor: pointer;
		&:hover {
			@include base.responsive("medium") {
				color: #ff0000;
			}
		}
		svg {
			width: 100%;
			height: auto;
		}
		&--liked {
			@extend .tip-card__like-button;
			color: #ff0000;
		}
	}
}
